{% extends 'base.html' %}
{% load static i18n %}

{% block title %}localsights{% endblock title %}

{% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- This file stores project-specific CSS -->

    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <!-- Your specific CSS file for the maps page -->
    <link href="{% static 'css/maps.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <a href="{% url 'map-create' %}">
    <button type="button" id="createMap" class="btn btn-success">Create Map +</button>
  </a>
  <br></br>
  <h1>Your Maps</h1>
 
    <table class="table">

      <tr>
        <th scope="col">Name</th>
        <th scope="col">Creator</th>
        <th scope="col">Zoom Level</th>
        <th scope="col">Date</th>
        <th scope="col">Operation</th>
      </tr>
      
      {% if map_list %}
      <tbody>
        {% for map in map_list %}
        <tr>
          <th scope="row"><a href="{{ map.get_absolute_url }}">{{ map.name }}</a></th>
          <th>{{ map.creator }}</th>
          <th>{{ map.zoom_level }}</th>
          <th>{{ map.date }}</th>
          <th>
            <a href="{% url 'map-update' map.id %}">
              <button type="button" class="btn btn-primary">Update</button>
            </a>
            <a href="{% url 'map-delete' map.id %}">
              <button type="button" class="btn btn-danger">Delete</button>
            </a>
          </th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    </table>
  {% endif %}

{% endblock %}