{% extends "base.html" %}

{% block content %}
<a href="{% url 'create' %}">
  <button type="button" id="createMap" class="btn btn-success">Create Map +</button>
</a>

  <h1>Your Maps</h1>

  <table class="table">
    
      <tr>
        <th scope="col">Maps</th>
        <th scope="col">Map Name</th>
        <th scope="col">Creator</th>
        <th scope="col">Date</th>
      </tr>

    <tbody>
      {% for map in maps %}
      <tr>
        <td>map.name</td>
        <td>map.creator</td>
        <td>map.date</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  

{% endblock %}